.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.btn-cart {
    background-color: rgb(36, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.btn-text {
    margin-right: 8px;
}

.btn-cart:hover {
    /* background-color: rgba(249, 62, 62, 0.992); */
    background: linear-gradient(to right, rgb(2, 9, 67), rgb(252, 27, 27));
}