body {
  font-weight: helvetica, arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
  color: rgb(63, 3, 99);
}

.block {
  background: linear-gradient(to right, rgb(241, 244, 51), rgb(67, 212, 18));
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;

}

.row.center {
  align-items: center;
}

img.small {
  max-height: 12rem;
  border-radius: 0.5rem;
}

button {
  color: aliceblue;
  font-size: .9rem;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: 0.1rem darkblue;
  /* background: linear-gradient(to right, rgb(2, 9, 67), rgb(252, 27, 27)); */
  width: 90%;
  cursor: pointer;
}

button.add {
  font-size: x-large;
  background: linear-gradient(to right, rgb(2, 9, 67), rgb(252, 27, 27));
  width: 3.5rem;
}

button.remove {
  font-size: x-large;
  background: linear-gradient(to right, rgb(2, 9, 67), rgb(252, 27, 27));
  width: 3.5rem;
}

button.add2 {
  font-size: x-large;
  width: 10rem;
  margin-right: 1rem;
  background: linear-gradient(to right, rgb(2, 9, 67), rgb(252, 27, 27));
}

button.remove2 {
  font-size: x-large;
  width: 10rem;
  background: linear-gradient(to right, rgb(2, 9, 67), rgb(252, 27, 27));
}

button.badge {
  background: linear-gradient(to right, rgb(2, 9, 67), rgb(252, 27, 27));
  border: none;
  color: azure;
  width: 2.5rem;
}

.text-right {
  text-align: right;
}